@using DiabetesControl.Data.Models
@using DiabetesControl.Data.Enums
@model Food
@{
    ViewData["Title"] = "Create Food";
}

<h3>Food Create</h3>
<div>
    <form method="post" asp-action="Create">
        <div>
            Yiyecek Adı:
            @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Servis Ölçüsü :
            @Html.TextBoxFor(x => x.NutritionalMeasure.MeasureAverage)
        </div>
        <div>
            Miktar (cc) :
            @Html.TextBoxFor(x => x.NutritionalMeasure.Quantity)
        </div>
        <div>
            Karbonhidrad (g) :
            @Html.TextBoxFor(x => x.NutritiveValue.CarbohdrateValue)
        </div>
        <div>
            Protein (g) :
            @Html.TextBoxFor(x => x.NutritiveValue.ProteinValue)
        </div>
        <div>
            Yağ (g) :
            @Html.TextBoxFor(x => x.NutritiveValue.FatValue)
        </div>
        <div>
            Besin Grubu :
            @Html.DropDownListFor(m => m.NutritiveGroup,
            new SelectList(Enum.GetValues(typeof(NutritiveGroupEnum))))
        </div>
        <div>
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>

    </form>
</div>